.box1{
   background-color: rgb(133, 76, 191);
    height: 120px;
    
}
.box2{
  background-color:	rgb(133, 76, 191);
  height: 90px
}
.redes{
   font-size: 60px !important;
   color: white
}
.textos{
   color: white;

}
