.caixa{
  background-color:  rebeccapurple;
}
.titulo{
  color: white !important;
  font-weight: bold;
}
.botao{
  border-color: white !important;
  background-color:  rebeccapurple;
  color: white !important;
}
.postagens{
  background-color: white;
}